<div class="login-wrapper">
  <div class="login-card">
    <h2>Creá tu cuenta en MateTour</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
      <div class="mb-3">
        <label for="first_name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="first_name" formControlName="first_name">
        @if (first_name?.errors?.['required'] && first_name?.touched) {
          <p class="text-danger">El nombre es requerido.</p>
        }
      </div>

      <div class="mb-3">
        <label for="last_name" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="last_name" formControlName="last_name">
        @if (last_name?.errors?.['required'] && last_name?.touched) {
          <p class="text-danger">El apellido es requerido.</p>
        }
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        @if (email?.errors?.['required'] && email?.touched) {
          <p class="text-danger">El email es requerido.</p>
        }
        @else if (email?.errors?.['email']) {
          <p class="text-danger">Formato de email inválido.</p>
        }
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        @if (password?.errors?.['required'] && password?.touched) {
          <p class="text-danger">La contraseña es requerida.</p>
        }
        @else if (password?.errors?.['minlength']) {
          <p class="text-danger">Mínimo 6 caracteres.</p>
        }
      </div>

      <div class="mb-3">
        <label for="rol" class="form-label">Rol</label>
        <select class="form-select" id="rol" formControlName="rol">
          <option value="">Seleccionar rol</option>
          <option value="admin">Admin</option>
          <option value="user">Usuario</option>
        </select>
        @if (rol?.errors?.['required'] && rol?.touched) {
          <p class="text-danger">El rol es obligatorio.</p>
        }
      </div>

      <button type="submit" class="btn btn-primary">Registrarme</button>
    </form>
  </div>
</div>
