/* styles.css o scss global */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

.btn-outline-dark {
  border-color: #3b5d50;
  color: #3b5d50;
}

.btn-outline-dark:hover {
  background-color: #f9bf29;
  color: #fff;
  border-color: #f9bf29;
}
.btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(249, 191, 41, 0.5);
}